.national-result {
	background: white;
}
.national-container {
	width: 100%;
}
.total-bar {
	height: 35px;
	color: white;
	line-height: 35px;
	font-size: 30px;
	padding-left: 10px;
    box-sizing: border-box;
}
.winner {
	font-size: 150%;
}