

ul.container {
	padding: 0;
	margin: 0;
	list-style: none;
	
	display: -webkit-box;
	display: -moz-box;
	display: -ms-flexbox;
	display: -webkit-flex;
	display: flex;
	
	-webkit-flex-flow: nowrap;
	justify-content: space-around;
}

.left-item {
	order: 1;
	border-right: 1px solid black;
}
.right-item {
	order: 2;
	border-left: 1px solid black;
}

.result-bar {
	position: absolute;
	display: inline-block;
	height: 20px;
	border: 1px solid black;
}
.result-text {
	background: blue;
	position: absolute;
}
.push-left {
	left: 0;
}
.push-right {
	right: 0;
	text-align: right;
}
.regional-result {
	background: white;
}

table {
    border-collapse: collapse;
	width: 100%;
}

th, td {
    border: 1px solid #ccc;
}

.region {
}
.result {
	text-align: center;
}
.difference {
	padding: 0 10px;
	font-weight: bold;
	text-align: right;
	display: inline-block;
}
.item {
	position: relative;
	width: 50%;
}