/* national results */
.total-bar {
	height: 35px;
    box-sizing: border-box;
	display: inline-block;
	vertical-align: top;
}

.total-bar-label {
	font-family: MetricWeb, sans-serif;
	vertical-align: top;
	display: inline-block;
	line-height: 35px;
	padding: 0 10px;
}

.national-item {
	display: block;
}

.win {
	font-size: 140%;
	order: 1;
}

.lose {
	font-size: 100%;
	order: 2;
}

.total-bar {
	height: 35px;
    box-sizing: border-box;
	display: inline-block;
	vertical-align: top;
}

.total-bar-label {
	font-family: MetricWeb, sans-serif;
	vertical-align: top;
	display: inline-block;
	line-height: 35px;
	padding: 0 10px;
}

/* regional results */

.regional-axis{
	stroke:#000;
	stroke-opacity:0.2;
}

.bar-header{
	font-size: 1.5rem;
}

.vote-figure{
	font-weight: 600;
	font-size: 1.1rem;
}

.region-label{
	font-size: 1.2rem;
}
