.core .o--if-js,
.enhanced .o--if-no-js {
    display: none !important;
}
    
html {
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%; 
}

body {
  margin: 0; 
}

img {
  border: 0; 
}

button,
input,
optgroup,
select,
textarea {
  color: inherit;
  font: inherit;
  margin: 0;
}

.key span{
    margin-left: 20px;
}

button {
  overflow: visible; 
}

button, select {
  text-transform: none; 
}

button::-moz-focus-inner,
input::-moz-focus-inner {
  border: 0;
  padding: 0; 
}

textarea { overflow: auto; }

body {
  background-color: #fff1e0;
  margin: 0;
  border: 0;
  font-family: MetricWeb, sans-serif; 
  color: #43423e;
}

.site-header {
  padding: 18px 0 14px;
  text-align: center;
  border-bottom: 1px solid #e9decf; 
}
.site-header > a { opacity: 0.75; }
.site-header > a:hover {  opacity: 1; }
.masthead {  height: 18px; }

.article__headline{
    font-size:2.5em;
    max-width:600px;
    margin-left:auto;
    margin-right:auto;
    /*margin:auto;*/
}

.article__headline,
.article__crosshead {
    font-weight:500;
    color:#43423e;
    font-family: "FinancierDisplayWeb",serif;
}


.article {
    margin:0 auto;
    max-width:600px;
    text-align:center;
    padding-left:20px;
    padding-right:20px;
}

.article p {
    text-align:left;
    margin-left:auto;
    margin-right:auto;
    max-width:600px;
}

p a {
    color: #27757b;
    border-bottom: 1px dotted #27757b;
    text-decoration: none;
}

.article a:hover {
    border-bottom: none;
}

/*bylines*/
h6{
    max-width: 600px;
    margin: 0 auto 10px;
    color: #9e2f50;
    font-family: FinancierDisplayWeb,Georgia,serif;
    font-weight: 200;
    font-style: italic;
    font-size: .95em;
}

.timestamp {
    color: #8b572a;
    font-family: MetricWeb,sans-serif;
    font-size: 12px;
    font-style: normal;
}

/* share links */

.social-icon-wrapper {
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-align-content: space-around;
    -ms-flex-line-pack: distribute;
    align-content: space-around;
}

.share-links {
    cursor: pointer;
}

.share-links>ul {
    list-style: none;
    padding-left: 0;
}

.share-links__link {
    display: block;
    width: 40px;
    height: 40px;
    border-radius: 2px;
    background-size: 40px 40px;
}
.share-links li {
  display: inline-block;
}

.share-links__link>span{
  display: none;
}

.share-links__link--twitter {
    background-image: url(img/twitter_icon.svg);
}

.share-links__link--facebook {
    background-image: url(img/facebook_icon.svg);
}

.share-links__link--linked-in {
    background-image: url(img/linkedin_icon.svg);
}

.article__headline--mega{
  font-size: 100px;
  margin-bottom: 20px;
  margin-top: 20px;
}

.main-data-graphic{
  margin-top: 20px;
}

.leave-text{
  color: #661040;
}

.remain-text{
  color: #464224;
}

.chart-label{
  padding-bottom: 5px;
}